// colors
$btnBlue:hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
$started:hsl(238, 22%, 44%);
$grayish:hsl(0, 0%, 75%);
$darkBlue:hsl(243, 87%, 12%);

// Grid

$grid-width:144rem;


// Font

$default-font-size:1.6rem;
